body
{
  padding: 10px;
  margin: 40px;
  font-size: 24px;
  font-family: helvetica;
  background-image: url(https://3.bp.blogspot.com/-_tnkjXIFkPM/U-ELdgUYfqI/AAAAAAAAAkw/AyfC_q7khIk/s1600/universo.gif);
  background-repeat: no-repeat;
  background-size: auto;
  color: white;
}

nav
{
  background-color: #cc21cc;
  padding: 0px;
  color: white;
}
